# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
.env
.env.*

# VS Code
.vscode/

# Migrations
**/migrations/*
!**/migrations/__init__.py

# OS
.DS_Store
Thumbs.db

# Test/coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Node (if any frontend in repo)
node_modules/

# Others
*.bak
*.swp
*.swo

